@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shard style */

/* header area */
nav {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .logo,
nav ul {
  display: flex;
  align-items: center;
}

nav .logo h3 {
  font-size: 1.7rem;
  padding-left: 5px;
  font-weight: 700;
}
nav ul li {
  list-style: none;
  a {
    text-decoration: none;
    padding: 0 1.7rem;
    font-weight: 700;
  }
}
nav ul .home a {
  color: #fea301;
}
nav ul .about a {
  color: #01acfd;
}
nav ul .facilities a {
  color: #05d4df;
}
nav ul .admission a {
  color: #5d58ef;
}
.btn-primary {
  width: 173px;
  height: 44px;
  border-radius: 12px;
  padding: 10px;
  border: none;
  color: #fff;
  background: #fea301;
  font-weight: 600;
}
nav .menu {
  display: none;
}
/* banner section in header */
.banner {
  margin: 0 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.banner p {
  text-align: start;
}
.banner .image-area img {
  width: 411px;
  height: auto;
}
.banner .text-area {
  margin-right: 44px;
}
.text-area h1 {
  font-size: 59px;
  font-weight: 700;
  padding-bottom: 20px;
  .empo {
    color: #fea301;
  }
  .vision {
    color: #01acfd;
  }
}
 .dark {
  background: #333;
  margin-top: 20px;
}

/* main area */
/* main {
  margin: 0 90px;
} */
.container{
  margin: 0 90px;
}
/* curriculum */
#curriculum {
  background-image: url(/assets/bg.png);
}
#curriculum .title h1,
#stories .title h1 {
  font-family: 40px;
  font-weight: 700;
  text-align: center;
  margin: 50px 0 65px;
}
.cards {
  display: flex;
  gap: 30px;
}
.cards .card {
  padding: 50px;
  border-radius: 18px;
  box-sizing: border-box;

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180deg, #fff4dc, rgba(255, 255, 255, 0) 40%),
    rgb(255, 255, 255);
}
.cards .card .image1 {
  width: 120px;
  margin: 0 auto;
}
.cards .card h4 {
  font-size: 22px;
  font-weight: 700;
}
.cards .card h4,
.cards .card p,
.cards .card h6 {
  text-align: center;
  padding: 10px 0;
  line-height: 25px;
}
.cards .card {
  .read1 {
    color: #64c8ff;
    margin-top: 30px;
  }
  .read2 {
    color: #fea301;
    margin-top: 30px;
  }
  .read3 {
    color: #5d58ef;
    margin-top: 30px;
  }
}

#curriculum .arrow-btn {
  width: 100%;
  text-align: center;
  margin: 70px 0 55px;
}
#curriculum .arrow-btn button {
  background-color: #fea301;
  width: 50px;
  height: 50px;

  border-radius: 50%;
  color: #fff;
  border: none;
}

/* Stories */
#stories{
  
  background-image: linear-gradient(0deg, rgba(254, 163, 1, 0.3),rgba(255, 209, 128, 0.3),rgba(255, 255, 255, 0.3)) , url(/assets/bg.png);
}

.card-stories{
  display: flex;
  gap: 30px;
  padding-bottom: 50px;

}
.main-card{
  border-radius: 16px;
  width: 100%;
  background-color: #fff;

}
.main-card p,.main-card h4{
  padding: 0 40px 30px;
}
.main-card img{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 100%;
  
}
.card-stories{
  width: 100%;
  
}
.sub-card{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  width: 100%;
}
.card-stories .card1{
  width: 100%;
  border-radius: 16px;
  background-color: #fff;
  img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }h5{
    padding: 20px;
  }
}

.btn-secondary{
  background: #3CD8E8;
  padding: 10px 15px;
  color: #fff;
  border-radius: 48px;
  border: none;
  position: relative;
  left: 30px;
  top: -20px;
  
}
.story-color1, .story-color3, .story-color4{
  background: #95B226;
}
.story-color2{
  background: #5d58ef;
}
.story-btn{
  text-align: center;
  padding-bottom: 50px;
}
/* footer */
footer{
  background: #01acfd;
  padding: 108px 129px;
  display:flex;
  justify-content: space-around;
}
footer .footer-logo{
  width: 50%;
}
.logo{
  display: flex;
  h1{
    color: #ffff;
    font-size: 40px;
    font-weight: 700;
    padding-left: 20px;
  }
  
}
.footer-logo p{
  padding: 20px 0;
  color: #fff;
}
footer .list{
  h4{
    color: #fff;
  }
  ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  ul li{
    list-style: none;
    padding: 10px 0;
    color: #fff;
  }
}
footer .icon {
  h4{
    color: #fff;

  }
  img{
    width: 30px;
    height: 30px;
    margin-top: 25px;
  }
}
/* responsive with Mobile Device */
@media screen and (max-width: 576px) {
  body {
    margin: 0 16px;
  }
  nav {
    justify-content: space-between;
  }
  nav ul,
  .btn button {
    display: none;
  }
  nav .menu {
    display: inline;
  }
  .banner {
    margin: 0;
    flex-direction: column-reverse;
  }
  .banner .image-area img {
    width: 100%;
  }
  .banner .text-area {
    margin-right: 0px;
  }
  .text-area h1 {
    font-size: 40px;
    text-align: center;
  }
  .text-area p {
    text-align: center;
  }
  .banner-btn {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
  }
  .container {
    margin: 20px;
  }
  .cards {
    flex-direction: column;
    .card {
      padding: 0;
    }
  }
  #curriculum .arrow-btn {
    display: none;
  }
  .main-card{
    display: none;
  }
  .btn-secondary{
    padding: 7px 10px;
    font-size: 10px;
    left: 10px;
  }
  footer{
    flex-direction: column;
    gap: 20px;
  }
  .footer-logo p{
    width: 300px;
  }
}
